# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Streamlit
.streamlit/secrets.toml

# Build files
build/
dist/
*.egg-info/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log